*{
    font-family: Arial, Helvetica, sans-serif;
}
.scores{
    top: 0;
    left:0;
    position: absolute;
    margin-left:3%;
}

.timer{
    top:0;
    right:0;
    position:absolute;
    margin-right: 3%;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8%;
    margin-left: 30%;
    margin-right: 30%;
}

.quiz-container{
    border:solid;
    border-radius: 10px;
    border-width: 5px;
    border-top-color: crimson;
    border-bottom-color: crimson;
    border-left-color: darkblue;
    border-right-color: darkblue;
    padding:1%;
    text-align: center;
}

#start-button{
    margin: 1%;
}

footer{
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

#quiz-content{
    display:none;
}